In [2]:
import pandas as pd

In [5]:
# 2 main datatypes
series = pd.Series(["BMW","Toyota","Honda"])

In [12]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [11]:
colours = pd.Series(["Red","Blue","White"])

In [10]:
# sereis are 1 dimensional, dataframes are two dimensional

In [13]:
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [15]:
# import data

In [27]:
car_sales = pd.read_csv("car-sales.csv")

In [26]:
# pandas from csv
heart_disease.to_csv()

',age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target\r\n0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1\r\n1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1\r\n2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1\r\n3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1\r\n4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1\r\n5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1\r\n6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1\r\n7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1\r\n8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1\r\n9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1\r\n10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1\r\n11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1\r\n12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1\r\n13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1\r\n14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1\r\n15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1\r\n16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1\r\n17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1\r\n18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1\r\n19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1\r\n20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1\r\n21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1\r\n22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1\r\n23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1\r\n24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1\r\n25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1\r\n26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1\r\n27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1\r\n28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1\r\n29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1\r\n30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1\r\n31,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1\r\n32,44,1,1,130,219,0,0,188,0,0.0,2,0,2,1\r\n33,54,1,2,125,273,0,0,152,0,0.5,0,1,2,1\r\n34,51,1,3,125,213,0,0,125,1,1.4,2,1,2,1\r\n35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1\r\n36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1\r\n37,54,1,2,150,232,0,0,165,0,1.6,2,0,3,1\r\n38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1\r\n39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1\r\n40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1\r\n41,48,1,1,130,245,0,0,180,0,0.2,1,0,2,1\r\n42,45,1,0,104,208,0,0,148,1,3.0,1,0,2,1\r\n43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1\r\n44,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1\r\n45,52,1,1,120,325,0,1,172,0,0.2,2,0,2,1\r\n46,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1\r\n47,47,1,2,138,257,0,0,156,0,0.0,2,0,2,1\r\n48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1\r\n49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1\r\n50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1\r\n51,66,1,0,120,302,0,0,151,0,0.4,1,0,2,1\r\n52,62,1,2,130,231,0,1,146,0,1.8,1,3,3,1\r\n53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1\r\n54,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1\r\n55,52,1,1,134,201,0,1,158,0,0.8,2,1,2,1\r\n56,48,1,0,122,222,0,0,186,0,0.0,2,0,2,1\r\n57,45,1,0,115,260,0,0,185,0,0.0,2,0,2,1\r\n58,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1\r\n59,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1\r\n60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1\r\n61,54,1,1,108,309,0,1,156,0,0.0,2,0,3,1\r\n62,52,1,3,118,186,0,0,190,0,0.0,1,0,1,1\r\n63,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1\r\n64,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1\r\n65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1\r\n66,51,1,2,100,222,0,1,143,1,1.2,1,0,2,1\r\n67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1\r\n68,44,1,1,120,220,0,1,170,0,0.0,2,0,2,1\r\n69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1\r\n70,54,1,2,120,258,0,0,147,0,0.4,1,0,3,1\r\n71,51,1,2,94,227,0,1,154,1,0.0,2,1,3,1\r\n72,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1\r\n73,51,1,0,140,261,0,0,186,1,0.0,2,0,2,1\r\n74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1\r\n75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1\r\n76,51,1,2,125,245,1,0,166,0,2.4,1,0,2,1\r\n77,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1\r\n78,52,1,1,128,205,1,1,184,0,0.0,2,0,2,1\r\n79,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1\r\n80,41,1,2,112,250,0,1,179,0,0.0,2,0,2,1\r\n81,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1\r\n82,60,0,2,102,318,0,1,160,0,0.0,2,1,2,1\r\n83,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1\r\n84,42,0,0,102,265,0,0,122,0,0.6,1,0,2,1\r\n85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1\r\n86,68,1,2,118,277,0,1,151,0,1.0,2,1,3,1\r\n87,46,1,1,101,197,1,1,156,0,0.0,2,0,3,1\r\n88,54,0,2,110,214,0,1,158,0,1.6,1,0,2,1\r\n89,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1\r\n90,48,1,2,124,255,1,1,175,0,0.0,2,2,2,1\r\n91,57,1,0,132,207,0,1,168,1,0.0,2,0,3,1\r\n92,52,1,2,138,223,0,1,169,0,0.0,2,4,2,1\r\n93,54,0,1,132,288,1,0,159,1,0.0,2,1,2,1\r\n94,45,0,1,112,160,0,1,138,0,0.0,1,0,2,1\r\n95,53,1,0,142,226,0,0,111,1,0.0,2,0,3,1\r\n96,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1\r\n97,52,1,0,108,233,1,1,147,0,0.1,2,3,3,1\r\n98,43,1,2,130,315,0,1,162,0,1.9,2,1,2,1\r\n99,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1\r\n100,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1\r\n101,59,1,3,178,270,0,0,145,0,4.2,0,0,3,1\r\n102,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1\r\n103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1\r\n104,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1\r\n105,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1\r\n106,69,1,3,160,234,1,0,131,0,0.1,1,1,2,1\r\n107,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1\r\n108,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1\r\n109,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1\r\n110,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1\r\n111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1\r\n112,64,0,2,140,313,0,1,133,0,0.2,2,0,3,1\r\n113,43,1,0,110,211,0,1,161,0,0.0,2,0,3,1\r\n114,55,1,1,130,262,0,1,155,0,0.0,2,0,2,1\r\n115,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1\r\n116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1\r\n117,56,1,3,120,193,0,0,162,0,1.9,1,0,3,1\r\n118,46,0,1,105,204,0,1,172,0,0.0,2,0,2,1\r\n119,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1\r\n120,64,0,0,130,303,0,1,122,0,2.0,1,2,2,1\r\n121,59,1,0,138,271,0,0,182,0,0.0,2,0,2,1\r\n122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1\r\n123,54,0,2,108,267,0,0,167,0,0.0,2,0,2,1\r\n124,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1\r\n125,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1\r\n126,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1\r\n127,67,0,2,152,277,0,1,172,0,0.0,2,1,2,1\r\n128,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1\r\n129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1\r\n130,54,0,2,160,201,0,1,163,0,0.0,2,1,2,1\r\n131,49,0,1,134,271,0,1,162,0,0.0,1,0,2,1\r\n132,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1\r\n133,41,1,1,110,235,0,1,153,0,0.0,2,0,2,1\r\n134,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1\r\n135,49,0,0,130,269,0,1,163,0,0.0,2,0,2,1\r\n136,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1\r\n137,62,1,1,128,208,1,0,140,0,0.0,2,0,2,1\r\n138,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1\r\n139,64,1,0,128,263,0,1,105,1,0.2,1,1,3,1\r\n140,51,0,2,120,295,0,0,157,0,0.6,2,0,2,1\r\n141,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1\r\n142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1\r\n143,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1\r\n144,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1\r\n145,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1\r\n146,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1\r\n147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1\r\n148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1\r\n149,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1\r\n150,66,1,0,160,228,0,0,138,0,2.3,2,0,1,1\r\n151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1\r\n152,64,1,3,170,227,0,0,155,0,0.6,1,0,3,1\r\n153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1\r\n154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1\r\n155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1\r\n156,47,1,2,130,253,0,1,179,0,0.0,2,0,2,1\r\n157,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1\r\n158,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1\r\n159,56,1,1,130,221,0,0,163,0,0.0,2,0,3,1\r\n160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1\r\n161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1\r\n162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1\r\n163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1\r\n164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1\r\n165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0\r\n166,67,1,0,120,229,0,0,129,1,2.6,1,2,3,0\r\n167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0\r\n168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0\r\n169,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0\r\n170,56,1,2,130,256,1,0,142,1,0.6,1,1,1,0\r\n171,48,1,1,110,229,0,1,168,0,1.0,0,0,3,0\r\n172,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0\r\n173,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0\r\n174,60,1,0,130,206,0,0,132,1,2.4,1,2,3,0\r\n175,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0\r\n176,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0\r\n177,64,1,2,140,335,0,1,158,0,0.0,2,0,2,0\r\n178,43,1,0,120,177,0,0,120,1,2.5,1,0,3,0\r\n179,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0\r\n180,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0\r\n181,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0\r\n182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0\r\n183,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0\r\n184,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0\r\n185,44,1,0,112,290,0,0,153,0,0.0,2,1,2,0\r\n186,60,1,0,130,253,0,1,144,1,1.4,2,1,3,0\r\n187,54,1,0,124,266,0,0,109,1,2.2,1,1,3,0\r\n188,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0\r\n189,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0\r\n190,51,0,0,130,305,0,1,142,1,1.2,1,0,3,0\r\n191,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0\r\n192,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0\r\n193,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0\r\n194,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0\r\n195,59,1,0,170,326,0,0,140,1,3.4,0,0,3,0\r\n196,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0\r\n197,67,1,0,125,254,1,1,163,0,0.2,1,2,3,0\r\n198,62,1,0,120,267,0,1,99,1,1.8,1,2,3,0\r\n199,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0\r\n200,44,1,0,110,197,0,0,177,0,0.0,2,1,2,0\r\n201,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0\r\n202,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0\r\n203,68,1,2,180,274,1,0,150,1,1.6,1,0,3,0\r\n204,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0\r\n205,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0\r\n206,59,1,0,110,239,0,0,142,1,1.2,1,1,3,0\r\n207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0\r\n208,49,1,2,120,188,0,1,139,0,2.0,1,3,3,0\r\n209,59,1,0,140,177,0,1,162,1,0.0,2,1,3,0\r\n210,57,1,2,128,229,0,0,150,0,0.4,1,1,3,0\r\n211,61,1,0,120,260,0,1,140,1,3.6,1,1,3,0\r\n212,39,1,0,118,219,0,1,140,0,1.2,1,0,3,0\r\n213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0\r\n214,56,1,0,125,249,1,0,144,1,1.2,1,1,2,0\r\n215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0\r\n216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0\r\n217,63,1,0,130,330,1,0,132,1,1.8,2,3,3,0\r\n218,65,1,0,135,254,0,0,127,0,2.8,1,1,3,0\r\n219,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0\r\n220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0\r\n221,55,1,0,140,217,0,1,111,1,5.6,0,0,3,0\r\n222,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0\r\n223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0\r\n224,54,1,0,110,239,0,1,126,1,2.8,1,1,3,0\r\n225,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0\r\n226,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0\r\n227,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0\r\n228,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0\r\n229,64,1,2,125,309,0,1,131,1,1.8,1,0,3,0\r\n230,47,1,2,108,243,0,1,152,0,0.0,2,0,2,0\r\n231,57,1,0,165,289,1,0,124,0,1.0,1,3,3,0\r\n232,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0\r\n233,64,1,0,120,246,0,0,96,1,2.2,0,1,2,0\r\n234,70,1,0,130,322,0,0,109,0,2.4,1,3,2,0\r\n235,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0\r\n236,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0\r\n237,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0\r\n238,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0\r\n239,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0\r\n240,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0\r\n241,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0\r\n242,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0\r\n243,57,1,0,152,274,0,1,88,1,1.2,1,1,3,0\r\n244,56,1,0,132,184,0,0,105,1,2.1,1,1,1,0\r\n245,48,1,0,124,274,0,0,166,0,0.5,1,0,3,0\r\n246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0\r\n247,66,1,1,160,246,0,1,120,1,0.0,1,3,1,0\r\n248,54,1,1,192,283,0,0,195,0,0.0,2,1,3,0\r\n249,69,1,2,140,254,0,0,146,0,2.0,1,3,3,0\r\n250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0\r\n251,43,1,0,132,247,1,0,143,1,0.1,1,4,3,0\r\n252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0\r\n253,67,1,0,100,299,0,0,125,1,0.9,1,2,2,0\r\n254,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0\r\n255,45,1,0,142,309,0,0,147,1,0.0,1,3,3,0\r\n256,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0\r\n257,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0\r\n258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0\r\n259,38,1,3,120,231,0,1,182,1,3.8,1,0,3,0\r\n260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0\r\n261,52,1,0,112,230,0,1,160,0,0.0,2,1,2,0\r\n262,53,1,0,123,282,0,1,95,1,2.0,1,2,3,0\r\n263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0\r\n264,54,1,0,110,206,0,0,108,1,0.0,1,1,2,0\r\n265,66,1,0,112,212,0,0,132,1,0.1,2,1,2,0\r\n266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0\r\n267,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0\r\n268,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0\r\n269,56,1,0,130,283,1,0,103,1,1.6,0,0,3,0\r\n270,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0\r\n271,61,1,3,134,234,0,1,145,0,2.6,1,2,2,0\r\n272,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0\r\n273,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0\r\n274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0\r\n275,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0\r\n276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0\r\n277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0\r\n278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0\r\n279,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0\r\n280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0\r\n281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0\r\n282,59,1,2,126,218,1,1,134,0,2.2,1,1,1,0\r\n283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0\r\n284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0\r\n285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0\r\n286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0\r\n287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0\r\n288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0\r\n289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0\r\n290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0\r\n291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0\r\n292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0\r\n293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0\r\n294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0\r\n295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0\r\n296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0\r\n297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0\r\n298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0\r\n299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0\r\n300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0\r\n301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0\r\n302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0\r\n'

In [20]:

heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")

In [25]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

## Describe data

In [23]:
# press escape + m to make the headlinbe in markdown

In [24]:
# then press shift+enter

In [28]:
# attribute
car_sales.dtypes
# function
#car_sales.to_csv()

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [29]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [30]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [32]:
 car_sales.describe() # describe works only on numerical columns

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [33]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes